<h1>Editando: {{afazer.tarefa}}</h1>
<form action="/afazer/editar" method="POST" class="form">
    <input type="hidden" name="id" value="{{afazer.id}}">
    <div class="form-control">
        <label id="l1" for="name">Nome:</label>
        <input id="i1" type="text" name="tarefa" placeholder="Digite o nome do usuário" value="{{afazer.tarefa}}">
    </div>
    <div class="form-control">
        <label id="l1" for="occupation">Descrição:</label>
        <input id="i1" type="text" name="descricao" placeholder="Digite o profissão" value="{{afazer.descricao}}">
    </div>
    <div class="form-checkbox1">
        <input type="checkbox" name="concluida">
        <label for="concluida">Concluída</label>
        <input type="checkbox" name="pendente">
        <label for="pendente">Pendente</label>
    </div>
    <input id="i2" type="submit" value="Alterar">
</form>