<div id="editar">
    <h1 id ="title1">Você está vendo: {{tarefa.titulo}}</h1>
</div>
<div id="all">
    <div id="cent">
        <p id="t1">Descrição:</p><br>
        <p id="t2">{{tarefa.descricao}}</p>
    </div>
</div>